~umpy==1.19.2
matplotlib==3.3.3
seaborn==0.9.0
survae==0.1
h5py==2.10.0
openpyxl==3.0.7
tensorflow==2.1.0
tensorflow_datasets==4.8.2
~andas==1.2.3
scipy==1.7.3
tqdm==4.59.0
wandb==0.14.2
prettytable==0.7.2
torch==1.7.1+cu110
layers==0.1.5
numpy==1.24.2
pandas==2.0.0
scikit_learn==1.2.2
tensorboardX==2.6
